nav#globalnav
            div.menu-button
                | Menu
            ul.flexnav(data-breakpoint="460")
                li.nav1
                    a(href="/test/genesis/manage/")
                        | HOME
                li.nav2
                    a(href="/test/genesis/manage/")
                        | SERVICE
                li.nav3
                    a(href="/test/genesis/manage/")
                        | WORKS
                li.nav4
                    a(href="/test/genesis/manage/")
                        | ABOUT
                li.nav5
                    a(href="/test/genesis/manage/")
                        | CONTACT
        script(type='text/javascript').
            $(function(){$(".flexnav").flexNav();});