doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="author", content="")
    meta(property="og:title", content="タイトル")
    meta(property="og:type", content="website")
    meta(property="og:url", content="http://任意のURL")
    meta(property="og:image", content="http://任意のURL/og_image.png")
    meta(property="og:site_name", content="")
    meta(property="og:description", content="")
    meta(property="fb:app_id", content="任意のID")
    title jade test
    link(rel='stylesheet', href='./dist/css/foundation.css')
    link(rel='stylesheet', href='./dist/css/style.css')
    link(rel='stylesheet', href='./dist/css/module.css')
  body.service
  header.header
    section.row
        p.header-logo
            a(href="./")
                img(src="dist/img/logo.svg")
        nav.globalnavi
            ul.globalnavi-list
                li.globalnavi-list-item: a(href="index.html") HOME
                li.globalnavi-list-item: a(href="service.html") SERVICE
                li.globalnavi-list-item: a(href="works.html") WORKS
                li.globalnavi-list-item: a(href="about.html") ABOUT
                li.globalnavi-list-item: a(href="contact.html") CONTACT
section.header-title
    section.row.small-collapse
        section.header-text
            h1 SERVICE
section.content
    section.row.small-collapse
        h1.catch-h1
            |東京・銀座を拠点に活動している
            br
            |フリーランスのWEBデザイナーです
        p この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。

        
footer.footer
    p.copy Copyright @ WordXX All Rights Reserved.


    